<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %} {{ page.title }} | {{ site.title }} {% else %} {{ site.title }} {% endif %}</title>
    <meta name="author" content="{{ site.author }}" />

    <!-- Description -->
    {% if page.description %}
      <meta name="description" content="{{ page.description }}" />
    {% else %}
      <meta name="description" content="{{ site.description }}">
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="{{ "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/css/reveal.css"  }}"/>
    {%if page.theme %}
      <link rel="stylesheet" href="{{ "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/css/theme/"  | append: page.theme | append: '.css' }}" id="theme"/>
    {% else %}
      <link rel="stylesheet" href="{{ "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0//css/theme/black.css"  }}" id="theme"/>
    {% endif %}

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="{{ "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/lib/css/zenburn.css"  }}"/>

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? '{{ "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/css/print/pdf.css"  }}' : '{{ "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/css/print/paper.css" | prepend: site.baseurl }}';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <link rel="canonical" href="{{ page.url | replace:'index.html',''  | prepend: site.url }}">
  </head>

  <body id="body-content">
    <div class="reveal">
      <div class="slides">
        {{ content }}
        <script>
          function openFullScreen(event){
            document.body.webkitRequestFullscreen();
          }
          var page = document.getElementById("body-content");
          page.addEventListener("keydown", function (e) {
              if (e.keyCode === 13) {
                  openFullScreen(event);
              }
          });
        </script>
      </div>
    </div>

    <script src="{{ "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/lib/js/head.min.js"  }}"></script>
    <script src="{{ "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/js/reveal.js"  }}"></script>
    <script>
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        keyboard: true,
        overview: true,
        {%if page.transition %}
          transition: '{{page.transition}}',
        {% else %}
          transition: 'slide', // none/fade/slide/convex/concave/zoom
        {% endif %}
        dependencies: [
          { src: '{{ "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/lib/js/classList.js"  }}', condition: function() { return !document.body.classList; } },
          { src: '{{ "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/plugin/markdown/marked.js"  }}', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '{{ "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/plugin/markdown/markdown.js"  }}', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '{{ "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/plugin/highlight/highlight.js"  }}', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: '{{ "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/plugin/zoom-js/zoom.js"  }}', async: true },
          { src: '{{ "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/plugin/notes/notes.js"  }}', async: true },
          { src: '{{ "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/plugin/math/math.js"  }}', async: true }
        ]
      });
    </script>
  </body>
</html>
